@page "/person/edit/{PresonId:int}"

<h3>Edit Person</h3>
@if (Person != null)
{

<PersonForm Person="Person" OnValidSumbit="Edit"/>
}

@code {
    [Parameter] public int PresonId { get; set; }
    Person Person;

    protected override void OnInitialized()
    {
        Person = new Person() { Name = "Ali", DateOfBirth = DateTime.Today, Biography = "Hey" };
    }

    private void Edit()
    {
        Console.WriteLine("Edit");
    }
}
