@page "/"
@inject IRepositry repositry
@inject IMoviesRepository moviesRepository

<div>
    <h3>In Theaters</h3>
    <MoviesListCom Movies="InTheaters" />
    @*<NullTemplate>
            <span style="color:red">This is looading..</span>
        </NullTemplate>
        <EmptyTemplate>
            <span style="color: black">No record to see..</span>
        </EmptyTemplate>*@

</div>

<div>
    <h3>Upcoming Releases</h3>
    <MoviesListCom Movies="UpcomingReleases" />
</div>

@*<CustomeTypeahead SearchMethod="SearchMethod">
    <ResultTemplate>@context</ResultTemplate>
</CustomeTypeahead>*@

@code{

    private List<Movie> InTheaters;
    private List<Movie> UpcomingReleases;

    protected async override Task OnInitializedAsync()
    {
        var response = await moviesRepository.GetIndexPageDTO();
        InTheaters = response.InTheaters;
        UpcomingReleases = response.UpcomingReleases;

    }

    //private async Task<IEnumerable<string>> SearchMethod(string searchText)
    //{
    //    await Task.Delay(2000);
    //    if(searchText == "test") { return Enumerable.Empty<string>(); }
    //    return new List<string>() { "Flip", "Gav" };
    //}

}

