@page "/movies/edit/{MovieId:int}"
@inject IMoviesRepository moviesRepository
@inject NavigationManager navigationManager

<h3>Edit Movie</h3>
@if (Movie != null)
{
    <MovieForm Movie="Movie" OnValidSumbit="Edit" SelectedGenres="Selected"  NotSelectedGenres="NotSelected" SelectedActors="SelectedActors"/>
}

@code {
    [Parameter] public int MovieId { get; set; }
    private Movie Movie;

    private List<Genre> Selected;
    private List<Genre> NotSelected;
    private List<Person> SelectedActors;


    protected async override Task OnInitializedAsync()
    {
        var model = await moviesRepository.GetMovieForUpdate(MovieId);
        Movie = model.Movie;
        SelectedActors = model.Actors;
        Selected = model.SelectedGenres;
        NotSelected = model.NotSelectedGenres;
    }

    private async Task Edit()
    {
        await moviesRepository.UpdateMovie(Movie);
        navigationManager.NavigateTo($"movie/{MovieId}/{Movie.Title.Replace(" ", "-")}");
    }

}
