@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository genreRepository
@inject NavigationManager navigationManager

<h3>EditGenre</h3>

@if (genre != null)
{

    <GenreForm Genre="genre" OnValidSumbit="Edit"/>
}

@code {
    [Parameter] public int GenreId { get; set; }
    [Parameter] public Genre genre { get; set; }

    protected override async Task OnInitializedAsync()
    {
        genre = await genreRepository.GetGenres(GenreId);
    }

    private void Edit()
    {
        genreRepository.UpdateGenre(genre);
        navigationManager.NavigateTo("genres");
    }

}
