@page "/genre/edit/{GenreId:int}"

<h3>EditGenre</h3>

@if (genre != null)
{

    <GenreForm Genre="genre" OnValidSumbit="Edit"/>
}

@code {
    [Parameter] public int GenreId { get; set; }
    [Parameter] public Genre genre { get; set; }

    protected override void OnInitialized()
    {
        genre = new Genre() { Id = GenreId, Name = "Comeddy" };
    }

    private void Edit()
    {
        Console.WriteLine($"Id = {GenreId}");
    }

}
